@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

main {
    max-width: 90%;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

img {
    width: 54px;
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    color: #f2f2f2;
    font-size: 32px;
    margin: 30px 0;
    text-transform: uppercase;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, .75);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
    flex: 1;
}

.links {
    width: 144px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #f2f2f2;
    padding: 15px 30px;
    border-radius: 50px;
}

.container.sedans-container {
    background-color: #e38826;
    border-radius: 10px 10px 0 0;
}

.container.sedans-container .links.sedans-link {
    color: #e38826;
}

.container.suvs-container {
    background-color: #006970;
}

.container.suvs-container .links.suvs-link {
    color: #006970;
}

.container.luxury-container {
    background-color: #004241;
    border-radius: 0 0 10px 10px;
}

.container.luxury-container .links.luxury-link {
    color: #004241;
}

footer {
    font-family: "Lexend Deca", sans-serif;
    font-size: 11px;
    text-align: center;
    color: #000;
    margin: 50px 0 10px;
}

footer .footer-link {
    color: hsl(228, 45%, 44%);
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

@media(min-width:370px) {
    main {
        max-width: 80%;
    }
}

@media(min-width:420px) {
    main {
        width: 300px;
    }
}

@media(min-width:1000px) {
    body {
        position: relative;
        height: 100vh;
    }

    main {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container.sedans-container,
    .container.suvs-container,
    .container.luxury-container {
        width: 300px;
    }

    .container.sedans-container {
        border-radius: 10px 0 0 10px;
    }

    .container.luxury-container {
        border-radius: 0 10px 10px 0;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}